<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple E-commerce</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h2 style="text-align:center;">A propos de nous</h2>
 <h3> <p>Notre site de gestion d'annonces de ventes offre une plateforme interactive pour acheter et vendre des objets.</p>
  <p>Nous offrons une variété de catégories et des fonctionnalités de recherche avancées pour faciliter la recherche d'articles.</p></h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : sumit kumar
-->

</html>
